@keyframes slideleft {
    0% {
        transform-auth: scale(0);
        opacity: 0;
    }

    100% {
        transform-auth: scale(1);
        opacity: 1;
    }
}

.paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white) !important;
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    overflow-y: hidden;
}

.paper.dark{
    background-color: var(--cardColour) !important;
    box-shadow: none !important;
}

.subtxt{
    color: var(--black) !important;
}

.subtxt.dark{
    color: var(--subtextColor) !important;
}

.form-auth {
    width: 95%;
    background-color: var(--white);
}

.form-auth.dark{
    background-color: var(--cardColour);
}

.submit {
    margin: 16px 0 !important;
    background-color: var(--forrestGreen) !important;
}

.submit.dark{
    background-color: var(--antiFlashWhite) !important;
    color: var(--black);
}

.typography {
    margin: 16px 0px 16px 0px !important;
    color: var(--black) !important;
}

.typography.dark{
    color: var(--antiFlashWhite) !important;
}

.cont {
    display: flex;
    flex-direction: row;
    background-color: white !important;
}

.authart {
    width: 100%;
    height: 100%;
    top: -20%;
}

.paper-container {
    display: flex;
    overflow: hidden;
    width: 100% !important;
}

.paper-container.dark{
    background-color: var(--cardColour);
}

.image-container {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-art {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.auth-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 899px) {
    .image-container {
        display: none;
    }   
}

.submit .MuiCircularProgress-circle{
    color: var(--antiFlashWhite);
}

.submit.dark .MuiCircularProgress-circle{
    color: var(--borderColor);
}

.MuiTextField-root{
    background-color: var(--antiFlashWhite);
    border-radius: 12px;
}
