body {
    background-color: #1A1A1D;
    background-attachment: fixed;
    background-size: cover;
}

.mainContainer {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
}

@media only screen and (max-width: 767px) {
    .mainContainer {
        display: flex;
        flex-direction: column-reverse;
    }
}

.scrollup {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 999;
    transition: 0.3s ease-in;
    background-color: white;
    color: #c8102e;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
}

.scrollup.show {
    transition: 0.3s ease-in;
    display: block;
}

.scrollup.hide {
    transition: 0.3s ease-in;
    display: none;
}

.footer {
    top: 100%;
    height: 50px;
    bottom: 0;
}