body {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23f4cfd5' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23e99fab' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23dd7082' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23d24058' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23C7102E' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.mainContainer {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
}

@media only screen and (max-width: 767px) {
    .mainContainer {
        display: flex;
        flex-direction: column-reverse;
    }
}

.scrollup {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 999;
    transition: 0.3s ease-in;
    background-color: white;
    color: #c8102e;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
}

.scrollup.show {
    transition: 0.3s ease-in;
    display: block;
}

.scrollup.hide {
    transition: 0.3s ease-in;
    display: none;
}