.not-found-container {
    text-align: center;
    padding: 3em;
    font-family: 'Roboto', sans-serif;
    margin-top: 5rem;
}

.not-found-container h1 {
    color: var(--notFoundColor);
}

.not-found-container p {
    color: var(--notFoundColor);
}

@media (max-width: 768px) {
    .not-found-container {
        max-width: 80%;
    }
}