@keyframes prakat {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mainContainer {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
}

.actionDiv {
    text-align: center;
}

.infloader {
    margin: 3rem 49%;
    color: var(--forrestGreen) !important;
}

.infloader.dark {
    color: var(--antiFlashWhite) !important;
}

.loading-posts {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: calc(50% - 15px);
    color: var(--forrestGreen) !important;
}

.loading-posts.dark {
    color: var(--antiFlashWhite) !important;
}

@media (max-width: 600px) {
    .loading-posts {
        left: 44.5%;
        top: 40%;
    }

    .infloader {
        margin: 2rem 40%;
    }
}

.container ::-webkit-scrollbar {
    display: none;
}

.endmsg {
    color: var(--forrestGreen);
    margin-top: 2rem !important;
}

.endmsg.dark {
    color: var(--subtextColor);
}

.infinite-scroll-component {
    animation: prakat 0.7s ease-in;
    /* padding: 8px; */
}