.mainContainer {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
}

.actionDiv {
    text-align: center;
}

.infloader {
    margin: 3rem 50%;
    color: var(--forrestGreen) !important;
}

.infloader.dark {
    color: var(--antiFlashWhite) !important;
}

.loading {
    position: relative;
    margin: 20% 50%;
    color: var(--forrestGreen) !important;
}

.loading.dark {
    color: var(--antiFlashWhite) !important;
}

@media (max-width: 600px) {
    .loading {
        margin: 20% 45%;
        margin-bottom: 400px;
    }

    .infloader {
        margin: 2rem 40%;
    }
}

.container ::-webkit-scrollbar {
    display: none;
}

.endmsg {
    color: var(--forrestGreen);
    margin-top: 2rem !important;
}

.endmsg.dark {
    color: var(--subtextColor);
}
