.mainContainer {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
}

.container {
    padding: 0.1em;
    overflow-x: hidden;
    overflow-y: hidden;
}

.actionDiv {
    text-align: center;
}

.infloader {
    margin: 3rem 50%;
    color: var(--black) !important;
}

.infloader.dark {
    color: var(--antiFlashWhite) !important;
}

.loading {
    margin: 0 50%;
    color: var(--black);
}

.loading.dark {
    color: var(--antiFlashWhite) !important;
}

@media (max-width: 600px) {
    .loading {
        margin-bottom: 400px;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    .infloader {
        margin: 2rem 40%;
    }
}

.container ::-webkit-scrollbar {
    display: none;
}

.endmsg {
    color: var(--forrestGreen);
    margin-top: 2rem !important;
}

.endmsg.dark {
    color: var(--subtextColor);
}

