* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainContainer {
    display: flex;
    align-items: center;
}

.actionDiv {
    text-align: center;
}

.noposts {
    margin: 240px 40%;
    color: grey;
    font-size: 30px;
}

.loading {
    width: 10%;
    max-width: 75px;
    position: relative;
    top: 40%;
    left: 48%;
    transform: translate(-35%, -48%);
    color: white;
}

@media (max-width: 600px) {
    .loading {
        margin-top: -40px;
        margin-bottom: 400px;
        top: 40%;
        left: 42%;
        transform: translate(-30%, -42%);
    }
}