.mainContainer {
    display: flex;
    align-items: center;
}

.actionDiv {
    text-align: center;
}

.noposts {
    margin: 240px 40%;
    font-family: 'Robot', sans-serif;
    color: grey;
    font-size: 30px;
}

.loading {
    width: 10%;
    max-width: 75px;
    position: relative;
    top: 40%;
    left: 48%;
    transform: translate(-40%, -48%);    
    color: grey;
}