.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--antiFlashWhite) !important;
    color: var(--white);
    border-radius: 3px;
    height: 100%;   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px ;
}

.card.dark{
    background-color: var(--cardColour) !important;
}

.card:hover{
    box-shadow: black 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px ;
}

.media {
    height: 0;
    padding-top: 56.25%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    cursor: pointer;
    border-top-left-radius: 3px; 
    border-top-right-radius: 3px;
}

.overlay {
    position: absolute;
    top: 0.2rem;
    left: 0.5rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.overlay2 {
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
    color: white;
}

.title {
    padding: 0.5rem 0.5rem 0 0.5rem;
    color: var(--black);
    user-select: none;
}

.title.dark{
    color: var(--antiFlashWhite);
}

.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom.title.css-h93ljk-MuiTypography-root{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

@media (max-width: 600px) {
    .cardActions {
        display: flex;
        justify-content:flex-start;
    }
}

.msg {
    padding: 0rem 0.5rem 0rem 0.5rem;
    margin-top: 0;
    user-select: none;
}

.msg-text.dark{
    color: var(--subtextColor) !important;
}

.comment-button{
    color: var(--borderColor);
}

.comment-button.dark{
    color: var(--subtextColor);
}

.MuiTooltip-tooltip	.MuiButton{
    color: var(--black);
}

section{
    cursor: pointer;
}

.cardActions{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 0 !important;
}

.bookmark-button{
    color: var(--borderColor);
}

.bookmark-button.dark{
    color: var(--subtextColor);
}
    