
.MuiSkeleton-root {
    background-color: var(--charcoalBlack);
    position: relative;
    overflow: hidden;
}

.dark-mode .MuiSkeleton-root {
    background-color: var(--charcoalBlack);
}

.MuiSkeleton-root::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,
            transparent,
            #696969,
            transparent);
}

.dark-mode .MuiSkeleton-root::after {
    background: linear-gradient(90deg,
            transparent,
            #696969,
            transparent);
}