@keyframes flower {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.appBarSearch {
    display: flex;
    padding: 16px;
    border-radius: 5px;
    align-items: center;
    animation : flower 0.6s ease;
}

.gridContainer {
    flex-direction: row;
}

@media (max-width: 600px) {
    .gridContainer {
        flex-direction: column-reverse;
    }
}