@keyframes flower {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.searchlogo {
    color: rgb(107, 107, 107);
    cursor: pointer;
}

.searchlogo:hover {
    color: black;
    transition: 0.3s ease-in;
}

.appBarSearch {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    animation: flower 0.6s ease;
    gap: 10px;
}

.appBarSearch input {
    flex-grow: 1;
    margin-right: 10px;
}


.gridContainer {
    flex-direction: row;
}

@media (max-width: 600px) {
    .gridContainer {
        flex-direction: column-reverse;
    }
}

.temp {
    display: flex;
    background-color: white;
    border-radius: 5px;
    height: 50px;
    align-items: center;
    margin-top : 10px;
    justify-content: flex-start;
    padding-left: 10px;
    cursor: pointer;
}

.toggle-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.toggle-container .MuiToggleButtonGroup-root {
    background: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.togandsearch{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}