@keyframes blooming {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.paper {
    padding: 16px;
    animation : blooming 0.8s ease;
}
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fileInput {
    width: 97%;
    margin: 10px 0;
}

.buttonSubmit {
    margin-bottom: 10px;
}

.signintointeract{
    color: #1a1a1a;
    opacity: 0.8;
}

.close{
    position: relative;
    top: 50%; 
    left: 50%; 
    transform: translate(100%, -60%);
    cursor: pointer;
}