/* styles.css */

/* Global styles for the entire form */


/* Styles for the paper container */
.paper {
    padding: 16px;
    /* Adjust padding as needed */
}

/* Styles for the form container */
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styles for the file input */
.fileInput {
    width: 97%;
    margin: 10px 0;
}

/* Styles for the submit button */
.buttonSubmit {
    margin-bottom: 10px;
}