:root {
    --black: #1a1a1a;
    --borderColor: #404040;
    --loadingvar: white;
    --white: white;
    --antiFlashWhite: #e7e9ea;
    --subtextColor: #f2f2f2bb;
    --pink: #ef4056
}

@keyframes flower {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideImage {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.form{
    animation: slideImage 0.7s ease-in-out;
}

.form-heading{
    animation: slideImage 0.4s ease-in-out;
    font-family: 'Roboto', sans-serif;
}

.form-heading.dark{
    background-color: var(--black);
    color: var(--antiFlashWhite);
    font-family: 'Roboto', sans-serif;
}

.searchlogo {
    color: rgb(107, 107, 107);
    cursor: pointer;
}

.searchlogo:hover {
    color: black;
    transition: 0.3s ease-in;
}

.appBarSearch {
    background-color: var(--white) !important;
    display: flex;
    flex-direction: row;
    padding: 1.5em;
    border-radius: 3px;
    animation: flower 0.6s ease;
    gap: 10px;
    box-shadow: black 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
    margin-bottom: 1em;
}

.appBarSearch.dark{
    background-color: var(--black) !important;
    box-shadow: rgb(0, 0, 0) 0px 1px 4px;
}

.appBarSearch input {
    flex-grow: 1;
    margin-right: 10px;
}

.appBarSearch.dark .MuiTextField-root{
    /* background-color: var(--antiFlashWhite); */
    background-color: var(--antiFlashWhite) !important;
    height: 3em;
    border-radius: 3px;
}
.gridContainer {
    flex-direction: row;
}

.MuiToggleButtonGroup-root {
    background: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .gridContainer {
        flex-direction: column-reverse;
    }
    .MuiToggleButtonGroup-root {
        width: 9em;
        height: 3em;
    }
}


.form-heading {
    display: flex;
    background-color: white;
    color: #1a1a1a;
    border-radius: 3px;
    height: 50px;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    padding-left: 10px;
    cursor: pointer;
    box-shadow: black 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;

}

.togandsearch {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search-button{
    color:var(--black) !important;
    border: none;
    border: 1px solid var(--black) !important;
}

.search-button.dark{
    background-color: transparent;
    color: var(--antiFlashWhite) !important;
    border: 1px solid var(--borderColor) !important;
}
.search-button:hover{
    /* color:white !important; */
    border:1px solid var(--pink) !important;
}
.MuiToggleButtonGroup-root{
    background-color: var(--subtextColor);
    color: var(--antiFlashWhite) !important;
}	

.MuiToggleButton-root{
    color: var(--black) !important;
}