@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0px auto;
}

.first {
    flex: 1;
    padding-right: 20px;
}

.second {
    flex: 1;
    flex-shrink: 0;
}

.imag {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
}

.body1 {
    color: grey;
}

.posttitle {
    font-size: 48px;
    font-weight: lighter;
    margin: 5px 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .main {
        flex-direction: column-reverse;
        padding: 10px;
    }

    .first,
    .second {
        flex: 1;
        padding-right: 0;
    }

    .imag {
        max-width: 100%;
        border-radius: 8px;
    }

    .commentsOuterContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .commentsInnerContainer {
        margin: 10px 25px;
        width: 100%;
    }

    .writeCommentContainer {
        width: 90%;
    }

    .write-comment {
        width: 100%;
        margin-top: 10px;
    }

    .posttitle {
        font-size: 30px;
        font-weight: light;
        font-family: 'Roboto', sans-serif;
    }

}

.loader {
    width: 10%;
    max-width: 75px;
    height: auto;
    position: absolute;
    top: 45%;
    left: 48%;
    transform: translate(-45%, -48%);
    color: black;
}

@media (max-width: 600px) {
    .loader {
        /* margin-bottom: 800px; */
        top: 30%;
        left: 44%;
        transform: translate(-30%, -44%);
    }
}