@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 7px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80%;
    margin: 0px auto;
}

.first {
    flex: 1;
    padding-right: 20px;
}

.second {
    flex: 1;
    flex-shrink: 0;
}

.imag {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.body1{
    color: grey;
}

@media only screen and (max-width: 600px) {
    .main {
        flex-direction: column;
        padding: 10px;
    }

    .first,
    .second {
        flex: 1;
        padding-right: 0;
    }

    .imag {
        max-width: 100%;
        border-radius: 8px;
    }
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}