.main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: 100px auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    border-radius: 10px;
}

.lower-div {
    list-style: none;
}

.avatar {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50%;
    margin-top: 10px;
    color: white;
}

.lower-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower-div ul {
    list-style-type: none;
    margin-top: -10px;
}

.lower-div ul li {
    margin-top: 10px;
}

.lower-div ul li span {
    color: grey;
}

.upper-div {
    color: grey;
}

@media (max-width: 600px) {
    .main-cont {
        width: 90%;
    }

    .avatar {
        width: 60px;
        height: 60px;
        font-size: 28px;
        margin-top: 15px;
    }

    .lower-div ul li {
        margin-top: 10px;
    }

    .lower-div ul li span {
        font-size: 12px;
    }

    .upper-div {
        font-size: 14px;
    }
}