.media {
    height: 0;
    padding-top: 56.25%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    cursor: pointer;
}

.border {
    border: solid;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    color: white;
    border-radius: 5px;
    height: 100%;
}

.card:hover{
    box-shadow: white 0px 3px 8px;
}

.overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}

.overlay2 {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
}

.grid {
    display: flex;
}

.details {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.title {
    padding: 0px 0 0 16px;
    margin-bottom: 0;
    color: black;
}

.cardActions {
    padding: 0 16px 8px 16px;
    display: flex;
    justify-content: flex-start;
}

.msg {
    padding: 0 16px;
    margin-top: 0;
}