:root {
    --pinkvar: #eb24d0;
    --loadingvar: white;
    --black: #1a1a1a;
    --borderColor: #404040;
    --loadingvar: white;
    --white: white;
    --antiFlashWhite: #e7e9ea;
    --subtextColor: #f2f2f2bb;
}


.footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 1px solid var(--borderColor);
    width: 100vw;
    position: inherit;
    height: auto;
    background-color: var(--white);
    margin-top: 100vh;
    height: 50vh;
}

.footer.dark{
    background-color: var(--black);
}

.footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}

.footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    /* color: rgba(255, 255, 255, 0.2); */
    color: var(--black);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}
.footer.dark .col h1 {
    
    /* color: rgba(255, 255, 255, 0.2); */
    color: var(--antiFlashWhite);
    
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 1rem 0px 1rem 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.social ul li {
    display: flex;
    flex-direction: column;
}

.footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }

    .social h1 {
        margin: 0px;
    }
}
@media only screen and (max-width: 748px) {
    .footer{
        height: 100%;
        margin-top: 40vh;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }

    .footer .col h1 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 600px) {
    .footer .col {
        width: 50%;
    }

    .footer .col h1 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
}