@keyframes blooming {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes prakat {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 2rem auto;
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px !important;
    padding: 2rem;
    border-radius: 3px;
    font-family: 'Arial', sans-serif;
    outline: 1px solid var(--borderColor);
    animation: prakat 0.3s ease-in;
}

.main-cont.dark {
    background-color: var(--cardColour) !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px ;
}

.upper-div {
    width: 100%;
    text-align: center;
    color: var(--subtextColor);
}

.upper-div.dark {
    color: var(--black);
}

.upper-div h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--borderColor);
}

.upper-div.dark h2 {
    color: var(--subtextColor);
}

.avatar {
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    font-weight: bold;
    background-color: var(--subtextColor) !important;
    color: var(--black);
    border-radius: 50%;
    margin: 0.5em auto 0.8em auto;
    user-select: none;
}

.avatar.dark {
    background-color: var(--antiFlashWhite) !important;
    color: var(--black);
}

.lower-div {
    width: 100%;
    text-align: left;
}

.lower-div ul {
    list-style: none;
    padding: 0;
}

.lower-div ul li {
    margin: 15px 0;
    font-size: 1.1rem;
    color: #444;
    display: flex;
    justify-content: space-between;
}

.lower-div ul li button {
    background-color: transparent;
    padding: 0.4em;
    border: none;
    color: var(--antiFlashWhite);
}

.lower-div.dark ul li strong {
    color: var(--subtextColor)
}

.lower-div.dark ul li span {
    color: var(--subtextColor)
}

.lower-div ul li strong {
    color: var(--black);
}

.lower-div ul li span {
    color: var(--black);
    font-weight: normal;
}

.loading {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 48.6%;
    top: 40%; 
    color: var(--borderColor) !important;
}

.loading.dark {
    color: var(--antiFlashWhite) !important;
}

@media (max-width: 1120px) {
    .main-cont {
        width: 50%;
    }

    .loading {
        left: 44.5%;
        top: 40%;
    }
}

@media (max-width: 600px) {
    .main-cont {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .main-cont {
        margin-top: 3rem;
        width: 80%;
    }

    .avatar {
        width: 60px;
        height: 60px;
        font-size: 1.8rem;
    }

    .upper-div h2 {
        font-size: 1.5rem;
    }

    .lower-div ul li {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .main-cont {
        margin-top: 3rem;
        width: 80%;
    }

    .avatar {
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .upper-div h2 {
        font-size: 1.2rem;
    }

    .lower-div ul li {
        font-size: 0.9rem;
    }
}

.bookmarked-posts {
    margin-top: 2rem;
}

.bookmarked-posts h3 {
    margin-bottom: 1rem;
    color: #333;
}

.bookmarked-list {
    list-style: none;
    padding-left: 0;
    animation: blooming 0.8s ease;
}

.bookmarked-post {
    color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 8px 0;
    background-color: var(--antiFlashWhite);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.bookmarked-post h4 {
    cursor: pointer;
    max-width: 80%;
}
.bookmarked-post h4:hover{
    color: var(--forrestGreen);
}
.bookmarked-post.dark {
    background-color: var(--black);
    color: var(--antiFlashWhite);
    box-shadow: black 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.bookmarked-post:hover {
    background-color: var(--borderColor);
    color: var(--antiFlashWhite);
}

.bookmarked-post.dark:hover {
    background-color: var(--antiFlashWhite);
    color: var(--black);
}

.bookmark-heading.dark {
    color: var(--antiFlashWhite);
}

.bookmarked-post strong {
    font-size: 1.1rem;
}

.bookmarked-post button {
    opacity: 0.7;
}

.bookmarked-post button:hover {
    transition: 0.3s ease-in;
    opacity: 1;
}

.username {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 0.5rem;
    color: var(--borderColor);
    cursor: pointer;
}

.username.dark{
    color: var(--antiFlashWhite);
}

.username:hover{
    color: var(--forrestGreen);
}

#crossButton{
    cursor: pointer;
}

.outer-cont{
    width: 100%;
    height: 150vh;
    outline: 1px solid var(--borderColor);
    border-radius: 3px;
    padding-top: 1rem;
}

#backbutton{    
    color: var(--white);
    cursor: pointer;
    position: relative;
    top: 0%;
    left: 2%;
    background-color: transparent;
}