* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.not-found-container {
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    max-width: 400px;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.not-found-container h1 {
    color: #555555;
}

.not-found-container p {
    color: #555555;
}

@media (max-width: 768px) {
    .not-found-container {
        max-width: 100%;
        margin: 20px auto;
        padding: 10px;
    }
}