.not-found-container {
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    max-width: 400px;
    background-color: #ffffff; 
    border: 1px solid #e0e0e0; 
    border-radius: 5px;
    font-family: 'Roboto', sans-serif; 
}

.not-found-container h1 {
    color: #555555; 
}

.not-found-container p {
    color: #555555; 
}
