@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.appBar {
    border-radius: 10px;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logout:hover {
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    padding-left: 20px;
}

.headingcontainer {
    text-decoration: none;
    padding: 0px;
}

.heading {
    font-size: 30px;
    /* color: #ff00ae; */
    color: grey;
    text-decoration: none;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-align: center;
}

.userName {
    padding: 0 0 5px 0;
    color: rgba(0, 0, 0, 0.642);
}

.image {
    margin-left: 15px;
}

.toolbar {
    margin-left: auto;
    display: flex;
}

.profile {
    display: flex;
    align-items: flex-end;
}

.purple {
    color: #fff;
    margin: 0 10px;
    background-color: pink;
    cursor: pointer;
}

.myposts {
    text-decoration: none;
    color: grey;
    margin-left: 3rem;
    font-size: 18px;
}

.brandContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .appBar {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .heading {
        margin-right: 0px;
        font-size: 24px;
        margin-left: 10px;
    }

    .toolbar {
        margin-top: 5px;
    }

    .userName {
        display: none;
    }

    .navbar {
        padding: 0;
    }

    .avatarcontainer {
        display: none;
    }
}

/* ********** */

.card {
    display: flex;
    width: 100%;
}

@media (max-width: 600px) {
    .card {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.section {
    border-radius: 20px;
    margin: 10px;
    flex: 1;
}

.imageSection {
    margin-left: 20px;
}

@media (max-width: 600px) {
    .imageSection {
        margin-left: 0;
    }
}

.recommendedPosts {
    display: flex;
}

@media (max-width: 600px) {
    .recommendedPosts {
        flex-direction: column;
    }
}

.loadingPaper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    height: 39vh;
}

.commentsOuterContainer {
    display: flex;
    justify-content: space-between;
}

.commentsInnerContainer {
    height: 200px;
    overflow-y: auto;
    margin-right: 30px;
}