.box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--antiFlashWhite);
    margin-right: 1rem;
    gap: 0;
}

.box.dark {
    background-color: var(--black);
}

.box .input {
    flex: 1;
    height: 1.1rem;
    border-radius: 30px;
    font-size: 1rem;
    background-color: var(--antiFlashWhite);
    color: var(--textColor, #333);
    padding: 0.5rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.box.dark>.input {
    background-color: var(--antiFlashWhite);
    outline: none;
    border: none;
    color: var(--black);
}

.box .MuiSvgIcon-root {
    background-color: var(--antiFlashWhite);
    padding: 0.25rem 0.55rem;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1.6rem;
    color: var(--forrestGreen);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.box.dark .MuiSvgIcon-root {
    color: var(--black);
    background-color: var(--antiFlashWhite);
    align-items: center;
}